@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);


#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #f57b5d;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #f46b4a;
}
#dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#content1-6 P {
  text-align: left;
}
#social-buttons1-c .mbr-header__text {
  text-align: left;
}


#dropdown-menu-d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-d .navbar-brand a {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-d .nav .link,
#dropdown-menu-d .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-d .navbar,
#dropdown-menu-d .dropdown-menu {
  background: #f57b5d;
}
#dropdown-menu-d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-d .dropdown-menu a:hover,
#dropdown-menu-d .dropdown-menu a:focus {
  background: #f46b4a;
}
#dropdown-menu-d .navbar-toggler {
  color: #ffffff;
}
#gallery2-g P {
  color: #f97352;
  font-size: 18px;
  text-align: right;
}
#gallery2-g SMALL {
  color: #f97352;
  text-align: right;
  font-size: 18px;
}
#content5-i .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 25px;
}
#content5-i .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-i .mbr-article {
  color: #fff;
}
#content5-i .mbr-header .mbr-header__text SPAN {
  font-size: 14px;
}


#dropdown-menu-14 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-14 .navbar-brand a {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-14 .nav .link,
#dropdown-menu-14 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#dropdown-menu-14 .navbar,
#dropdown-menu-14 .dropdown-menu {
  background: #f57b5d;
}
#dropdown-menu-14 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-14 .dropdown-menu a:hover,
#dropdown-menu-14 .dropdown-menu a:focus {
  background: #f46b4a;
}
#dropdown-menu-14 .navbar-toggler {
  color: #ffffff;
}
#header1-16 H1 {
  text-align: left;
}
#header1-16 P {
  text-align: left;
}
#features1-18 P {
  font-size: 17px;
}
#content5-1a .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1a .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1a .mbr-article {
  color: #fff;
}
#content5-1a .mbr-article P {
  text-align: center;
}
